*{
	margin: 0;
	padding: 0;
}

.container{
	width: 1000px;
	margin: 0 auto;
}

.clr{
	clear: both;
}

ul,ol{
	list-style: none;
}

a{
	text-decoration: none;
}
						/*--================ Start Header Part ================--*/
#header{
	background: url(../images/banner.jpg) no-repeat fixed;
	background-size: cover;
	width: 100%;
	background-position: bottom;
}

#header nav{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	box-sizing: border-box;
}

#header nav ul{
	display: flex;
	justify-content: space-between;
}

#header nav ul a li{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	transition: .4s;
}

#header nav ul a li:hover{
	color: #d50c0d;
}

#header nav .nav-logo{
	width: 30%;
	text-align: left;
}

#header nav .nav-logo img{
	width: 80px;
	height: 70px;
}

#header nav .nav-bar{
	width: 50%;
	text-align: center;
}

#header nav .nav-icon{
	width: 7%;
	text-align: right;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#header nav .nav-icon .line{
	height: 20px;
	width: 2px;
	background: #d50c0d;
}

#header nav .nav-icon i{
	color: #fff;
}

#header .banner{
	width: 100%;
	text-align: center;
	padding: 120px 50px 150px 50px;
	box-sizing: border-box;
}

#header .banner h1{
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-weight: 400px;
	font-size: 30px;
	width: 460px;
	margin: 0 auto;
}

#header .banner form{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#header .banner form input{
	width: 100%;
	padding: 15px 30px;
	box-sizing: border-box;
	color: #333;
	background: #fff;
	border: none;
	border-radius: 7px;
	outline: none;

}

#header .banner form .information{
	width: 50%;
	text-align: center;
	margin-right: 20px;
}

#header .banner form .search-bar{
	width: 10%;
}

#header .banner form .search-bar a{
	display: inline-block;
	color: #000;
	padding: 12px 30px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 7px;
	transition: .5s;
	font-family: 'Open Sans', sans-serif;
}

#header .banner form .search-bar a:hover{
	color: #fff;
	background: #888;
}

#header .banner img{
	margin-top: 30px;
}
						/*--================ End Header Part ================--*/



						/*--================ Start About Part ================--*/
#about-part .about{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#about-part .about .picture{
	width: 60%;
}
#about-part .about .picture img{
	width: 550px;
}
#about-part .about .text{
	width: 40%;
}
#about-part .about .text p{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 500px;
}

						/*--================ End About Part ================--*/

.title{
	text-align: center;
	padding: 50px;
}

.title h1{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	font-weight: 600px;
}
.title p{
	font-family: 'Open Sans', sans-serif;
}

						/*--================ Start popular-food Part ================--*/

#popular-food .food-menus{
	width: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#popular-food .food-menus .menu{
	width: 27%;
	background: #fff;
	box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.05);
	position: relative;
	margin-bottom: 100px;
	transition: .5s;
}

#popular-food .food-menus .menu .price{
	height: 90px;
	width: 90px;
	line-height: 90px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	background: #60ba62;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-40%,-40%);
	transition: .5s;
}

#popular-food .food-menus .menu .big_picture{
	width: 100%;
}

#popular-food .food-menus .menu .big_picture img{
	width: 100%;
}

#popular-food .food-menus .menu .details{
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

#popular-food .food-menus .menu .details .small_picture{
	width: 100%;
}

#popular-food .food-menus .menu .details h1{
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 24px;
	transition: .4s;
}

#popular-food .food-menus .menu .details h1:hover{
	color: #d50c0d;
}

#popular-food .food-menus .menu .details ul{
	display: flex;
	justify-content: center;
}

#popular-food .food-menus .menu .details ul a{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-top: 10px;
	margin-right: 5px;
}

#popular-food .food-menus .menu .details ul .first a{
	color: #fde101;
}

#popular-food .food-menus .menu .details ul .last a{
	color: #fcf5b5;
}

#popular-food .food-menus .menu .details p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #797979;
	margin-top: 10px;
}

#popular-food .food-menus .menu .bottom{
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #eeeeee;
	padding: 30px 20px;
	box-sizing: border-box;
}

#popular-food .food-menus .menu .bottom a{
	display: inline-block;
	color: #959595;
	transition: .5s;
}

#popular-food .food-menus .menu .bottom .button{
	width: 60%;
}

#popular-food .food-menus .menu .bottom .button a{
	display: inline-block;
	color: #959595;
	border: 1px solid #959595;
	border-radius: 5px;
	padding: 5px 10px;
	box-sizing: border-box;
	transition: .4s;
	font-family: 'Open Sans', sans-serif;
}

#popular-food .food-menus .menu .bottom .icon{
	display: flex;
	justify-content: space-between;
	width: 40%;
}

#popular-food .food-menus .menu .bottom .icon i{
	margin-right: 3px;
}

#popular-food .food-menus .menu:hover{
	transform: translatey(-8%);
}

#popular-food .food-menus .menu:hover .price{
	background: #d50c0d;
}

#popular-food .food-menus .menu .bottom .button a:hover{
	color: #fff;
	background: #d50c0d;
}

#popular-food .food-menus .menu .bottom .icon a:hover{
	color: #d50c0d;
}
					
						/*--================ End popular-food Part ================--*/




						/*--================ Start pricing Part ================--*/
						
#pricing .title{
	margin-top: -100px;
}
#pricing{
	margin-bottom: 100px;
}
#pricing .pricing_part{
	width: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#pricing .pricing_part .parts{
	width: 30%;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 0 10px rgb(96 186 98 / 10%) inset, 0 0 0 #000;
	
}

#pricing .pricing_part .parts .picture{
	position: relative;
}

#pricing .pricing_part .parts .picture .overlay{
	height: 100%;
	width: 0%;
	background: rgba(213, 12, 13, .5);
	position: absolute;
	top: 0;
	left: 0;
	transition: .5s;
	opacity: 0;
	text-align: center;
	align-items: center;
}

#pricing .pricing_part .parts .picture .overlay h1{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 500px;
	top: 50%;
	left: 50%;
	transform: translate(0%,50%) rotate(90deg);
}

#pricing .pricing_part .parts .picture:hover .overlay{
	width: 30%;
	opacity: 1;
}

#pricing .pricing_part .parts .picture img{
	width: 100%;
	transition: .5s;
	width: 300px;
	height: 240px;
}

#pricing .pricing_part .parts:hover .picture img{

}

#pricing .pricing_part .parts .text{
	text-align: center;
	padding: 20px 0px;
	background: #d50c0d;
	margin-top: -5px;
}

#pricing .pricing_part .parts .text h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #fff;
	cursor: pointer;
	transition: .4s;
}

#pricing .pricing_part .parts .text h1:hover{
	color: #fff;
}
						/*--================ End pricing Part ================--*/




						/*--================ Start news_blog Part ================--*/
#news_blog .title{
	margin-top: -100px;
}

#news_blog{
	margin-bottom: 100px;
}

#news_blog .blog_parts{
	width: 100%;
	padding: 20px 0;
	box-sizing: border-box;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#news_blog .blog_parts .blog{
	width: 30%;
	background: #fff;
	box-shadow: 0 0 10px rgb(96 186 98 / 10%) inset, 0 0 0 #000;
	position: relative;
}

#news_blog .blog_parts .blog:hover{
	box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

#news_blog .blog_parts .blog .picture img{
	width: 100%;
	opacity: .5;
	transition: .5s;
}

#news_blog .blog_parts .blog:hover .picture img{
	opacity: 1;
}

#news_blog .blog_parts .blog .text{
	text-align: center;
	padding: 30px 20px;
}

#news_blog .blog_parts .blog .text h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #444;
	cursor: pointer;
	transition: .4s;
}

#news_blog .blog_parts .blog .text h1:hover{
	color: #d50c0d;
}

#news_blog .blog_parts .blog .text p{
	width: 230px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	margin: 10px auto;
	color: #888;
}

#news_blog .blog_parts .blog .text a{
	display: inline-block;
	color: #fff;
	background: #60ba62;
	padding: 8px 20px;
	box-sizing: border-box;
	margin-top: 15px;
	border-radius: 5px;
	transition: .5s;
	font-family: 'Open Sans', sans-serif;
}

#news_blog .blog_parts .blog .text a:hover{
	background: #000;
}
						/*--================ End news_blog Part ================--*/





						/*--================ Start Reserve Part ================--*/
#reserve .title{
	margin-top: -100px;
}

#reserve{
	margin-bottom: 100px;
}

#reserve .reserve-table{
	background: url(../images/reserve.jpg) no-repeat fixed;
	background-size: cover;
	background-position: center;
	padding: 150px;
	
}
#reserve .reserve-table .table{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#reserve .reserve-table .table form{
	width: 40%;

}
#reserve .reserve-table .table form input{
	width: 100%;
	margin-bottom: 20px;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 5px;
	outline: none;
	border: none;
}
#reserve .reserve-table .table form .form{
	display: flex;
	justify-content: space-between;
}
#reserve .reserve-table .table form .form .frist{
	width: 48%;
}
#reserve .reserve-table .table form .form .frist input{
	width: 100%;
	padding: 15px;
}
#reserve .reserve-table .table form .message input{
	padding-bottom: 50px;
}
#reserve .reserve-table .table form .angkor{
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
#reserve .reserve-table .table form .angkor a{
	color: #fff;
	padding: 15px 100px;
	background: #d50c0d;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300px;
	transition: .4s;
	border-radius: 5px;
}
#reserve .reserve-table .table form .angkor:hover a{
	background: #ad0b0c;
}
#reserve .reserve-table .table .hours{
	background: #d50c0d;
	padding: 20px 50px;
	color: #fff;
}
#reserve .reserve-table .table .hours h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 600px;
	margin-bottom: 20px;
}
#reserve .reserve-table .table .hours strong{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}
#reserve .reserve-table .table .hours p{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300px;
	margin-bottom: 5px;
	color: #eee;
}



						/*--================ Start Reserve Part ================--*/



						/*--================ Start Slider Part ================--*/
#testimonial-part .title{
	margin-top: -100px;
}

#testimonial-part .slider_part{
	background: url(../images/slider.jpg) no-repeat;
	background-size: cover;
	padding: 50px 0 100px 0;
}

#testimonial-part .slider_part .slider-icon{
	text-align: center;
}

#testimonial-part .slider_part .slider-icon i{
	color: #fff;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-bottom: 50px;
}

#testimonial-part .slider_part .slider_details{
	padding: 0 150px;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 50px;
}

#testimonial-part .slider_part .slider_details .slider_text{
	padding: 20px 50px;
	box-sizing: border-box;
	width: 600px;
	background: #d50c0d;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

#testimonial-part .slider_part .slider_details .slider_text p strong{
	margin-right: 5px;
}

#testimonial-part .slider_part .slider_picture .slider_image {
	width: 100%;
	text-align: center;
	align-items: center;
	margin-right: 10px;
}

#testimonial-part .slider_part .slider_picture .slider_image img{
	width: 100%;
	border-radius: 10px;
}

#testimonial-part .slider_part .slider_picture .slider_image h3{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

#testimonial-part .slider_part .slider_picture .slider_image p{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.slick-dots{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.slick-dots li{
	display: inline-block;
	margin-right: 20px;
}

.slick-dots li button{
	font-size: 0;
	height: 20px;
	width: 20px;
	border: 1px solid #fff;
	background: transparent;
	border-radius: 50%;
}

.slick-dots .slick-active button{
	background: #fff;
	background: 1px solid #000;
}

						/*--================ End Slider Part ================--*/




						/*--================ Start count_part Part ================--*/
#count_part{
	width: 100%;
	background: #888;
	padding: 50px 0;
}

#count_part .main{
	display: flex;
	justify-content: space-between;
	text-align: center;
}

#count_part .main .items{
	width: 20%;
}

#count_part .main .items h1{
	color: #fff;
	margin: 10px 0;
	font-family: 'Open Sans', sans-serif;
}

#count_part .main .items p{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
						/*--================ End count_part Part ================--*/




						/*--================ Start awards Part ================--*/
#awards .images{
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}
#awards .images img{
	opacity: .3;
	transition: .4s;
}
#awards .images img:hover{
	opacity: 1;
}
						/*--================ End awards Part ================--*/




						/*--================ Start Footer Part ================--*/
#footer{
	width: 100%;
	background: #282c35;
	padding: 20px;
	box-sizing: border-box;
}
#footer .footer_parts{
	display: flex;
	justify-content: space-between;
}
#footer .footer_parts .part{
	width: 24%;
}
#footer .footer_title{
	padding: 10px 0;
	box-sizing: border-box;
	border-bottom: 1px solid #cdcdcd;
}
#footer .footer_title h2{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
}
#footer .footer_parts .part .details{
	width: 100%;
	margin-top: 30px;
}
#footer .footer_parts .part .details ul .locations_and_cuisines a li{
	color: #cdcdcd;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	transition: .5s;
	margin-bottom: 10px;
}
#footer .footer_parts .part .details ul .locations_and_cuisines a li:hover{
	transform: translateX(10%);
	color: #d50c0d;
}
#footer .footer_parts .part .details .menu{
	display: flex;
	color: #cdcdcd;
}
#footer .footer_parts .part .details .menu i{
	margin-right: 10px;
	
}

#footer .footer_parts .part .details ul .menu a li{
	color: #cdcdcd;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	transition: .5s;
	margin-bottom: 10px;
}
#footer .footer_parts .part .details ul .menu:hover{
	color: #d50c0d;
}
#footer .footer_parts .part .details ul .menu a li:hover{
	color: #d50c0d;
}
#footer .footer_parts .part .details .information .information_icon{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
#footer .footer_parts .part .details .information .information_icon i{
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: #999;
	text-align: center;
	color: #fff;
	transition: .4s;
}
#footer .footer_parts .part .details .information .information_icon i:hover{
	background: #fff;
	color: #d50c0d;
}
#footer .footer_parts .part .details .information .contact{
	align-items: center;
	margin-bottom: 15px;
	display: flex;
	transition: .4s;
}

#footer .footer_parts .part .details .information .contact .contact_icon i{
	height: 30px;
	width: 30px;
	line-height: 30px;
	background: #d50c0d;
	text-align: center;
	margin-top: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	border-radius: 5px;
	transition: .4s;
	color: #cdcdcd;
}

#footer .footer_parts .part .details .information .contact .contact_text p{
	color: #cdcdcd;
	font-family: 'Open Sans', sans-serif;
}
						/*--================ End Footer Part ================--*/



						/*--================ Start Copyright Part ================--*/
#copyright{
	width: 100%;
	background: #ededed;
	padding: 10px;
	box-sizing: border-box;
	align-items: center;
}
#copyright .copyright_part{
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#copyright p{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
}
#copyright p strong{
	color: #d50c0d;
}
						/*--================ End Copyright Part ================--*/